<p>
  El <b>Sistema de Información de Acciones (SIA)</b> es la herramienta de administración de la información relacionada con las operaciones de venta de acciones de las diferentes Empresas de Crédito asociadas a EDESA y el Grupo FINCA. Mediante este sistema se puede realizar la gestión de las acciones, los socios y las operaciones de venta de acciones, así como consultar toda la información generada y relacionada con este tipo de movimientos.
</p>
<p>Su propósito fundamental es facilitar el proceso de las operaciones de venta de acciones y apoyar, con la información actualizada y oportuna, a los encargados de gestionar dicho proceso</p>
<p>El SIA está orientado a la metodología de Banca Comunal</p>