<% content_for :value_legend do %>
  <p class="certificate-text">VALOR:c   *****50,000.00 (CINCUENTA MIL COLONES CON 00/100 CENTIMOS)</p>
<% end %>

<% content_for :constitution_text do %>
  <p class="certificate-text text-justify">Constitución realizada al Tomo primero, Folio ciento veintiséis frente, escritura No. ciento ocho otorgada ante el Notario Henry Alpizar Rojas, a las diez horas del diez de enero del dos mil cinco inscrita en el Registro Público, Sección de Mercantil al Tomo quinientos cuatenta y seis, Asiento uno tres nueve siete. Cédula de Persona Juridica: tres - ciento uno - tres nueve cuatro tres ocho uno.</p>
<% end %>

<% content_for :stock_text do %>
  <table id="stock" width="100%">
  	<tr>
  		<td width="8%"></td>
  		<td width="84%">
  			<div id="certificate-wrapper-stock1"><div id="certificate-wrapper-stock2">
	        <p class="certificate-text text-center">
	        	Capital Social de Quinientos noventa y tres millones cien mil colones con 0.00/100 céntimos.
	        <br/>
	        	Representado por once mil ochocientas sesenta y dos acciones de cincuenta mil colones cada una.
	        </p>
        </div></div>
      </td>
  		<td width="8%"></td>
    </tr>
  </table>
<% end %>

<% content_for :company_info do %>
  <p class="certificate-text">Que <%= @certificate.share_holder.name %>, cédula No. <%= @certificate.share_holder.identifier %>.</p>
<% end %>

<% content_for :shares_info do %>
  <p class="certificate-small-text">Es dueño de 1 acción(es) de cincuenta mil colones de la Sociedad Anónima Empresa para el Desarrollo EDESA S.A., que comprende:<br/>
  de la acción No. 3519 hasta la No. 3519.</p>
<% end %>

<!-- <p style='page-break-after:always;'>A nueva página</p>
<p>Nueva página</p> -->